<div class="row row-cols-1 row-cols-md-4 g-2">
    <div class="col animate__animated animate__fadeIn" *ngFor="let movie of movies" 
    
    >
      <div class="card h-100 border-0" (click)="verPelicula(movie)">
        <img [src]="movie.poster_path | poster " class="card-img-top poster" [alt]="movie.title">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <div class="d-flex">
            <div class="col-10">
                <div style="text-align:center">
                    <star-rating 
                            [value]="movie.vote_average" 
                            [totalstars]='10' 
                            checkedcolor="yellow" 
                            uncheckedcolor="grey" 
                            [size]="'14px'" 
                            [readonly]="false"
                    ></star-rating>
                  </div>
              </div>
              <div class="col-2">
                {{movie.vote_average | number:'1.1-2'}}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>